process {
    executor = 'slurm'
    queue = 'BioCompute'
    time = '2d'
    memory = '125 GB'
    clusterOptions = '--account=warrenlab'
    conda = "$baseDir/conda.yaml"
    cpus = 13
}

conda.useMamba = true

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/WarrenLab/purge-haplotigs-nf'
    author = 'Edward S. Rice'
    version = '0.0.1'
}
